<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Options" version="0.31415.9.0" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.33" targetFramework="net461" />
  <package id="Selenium.Support" version="3.7.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net461" />
</packages>